@model newmoi2.Models.DAT_HANG

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DAT_HANG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NGAY_DAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAY_DAT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TONG_TIEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TONG_TIEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRANG_THAI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRANG_THAI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KHACH_HANG.HO_TEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KHACH_HANG.HO_TEN)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DAT_HANG_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
